<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- <title>{{ page.title }}</title> --> 
    <title> Harshil Parikh </title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body>
    <!--
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-narrow">
          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          <ul class="nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
        </div>
      </div>
    </div>    
    <div class="container-narrow">
    -->

      <div class="mainSection">
        <!-- {{ content }} -->
        <h2> Harshil Parikh </h2><br />
        <h4> Founder at <a href="http://www.tuvalabs.com" target='_blank'>TuvaLabs</a></h4><br />
        <h4> Interests: Personalized Learning, Affordable Private Schools, Open Data</h4><br />
        <h4> Previously: </h4>
          <li><h4>Business Development at <a href="http://www.greenlightplanet.com" target="_blank">Greenlight Planet</a></h4></li>
          <li><h4>Consultant at <a href="http://www.arpana.org" target="_blank">Arpana</a></h4></li>
          <li><h4>Physics at <a href="http://physics.uiuc.edu/" target="_blank">UIUC</a>, Mathematical Finance at <a href="http://www.math.ncsu.edu/finmath/index.php" target="_blank">NCSU</a></h4></li>
          <br />
        <h4> Work: <a href="http://www.github.com/hsparikh" target='_blank'>Github</a></h4>
        <h4> Contact: <a href="mailto:hsparikh@tuvalabs.com" target="_blank">Email</a> | <a href="http://www.twitter.com/hs_parikh" target='_blank'>@hs_parikh</a> | <a href="http://www.linkedin.com/in/hsparikh/" target="_blank">LinkedIn</a></h4>
      </div>
      <!--<hr>
      <p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
          with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
          and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
        </p>
      </footer>-->
    </div>

    {% include JB/analytics %}
  </body>
</html>
